title {
	text-align: center;
}
//body {
	//background-color: blueviolet;
}
.activityTitle {
text-align: center;
}
.cardArea {
	width: 12px;
	height: 10px;
	position: auto;
	text-align: inline-block;
	line-height: 10px;
	font-size: 12px;
	color: ;
	font-family:  Joe Prince;
	cursor: pointer;
	border-bottom: black;
	border-top: black;
	border-left: black;
	border-bottom: black;
}
h1 {
	text-align: center;
}
