h2 {
    text-align: center;
}

body {
    background-color: white;
    background-image: url("website_design_development_vector_mobile_flat_icons_style_modern_creative_illustration_concept.jpg");
    position: relative;
    background-size: cover;
}

img {
    width: 200px;
    height: 175px;
}

div {
    text-align: center;
    font-size: 28px;
    font-family: Joe Prince;
}

.divArea {
    width: 500px;
    height: 160px;
    position: auto;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    background: yellow;
    font-family: Joe Prince;
    margin: auto;
    margin-top: 80px;
    border: 15px solid black;
    border-radius: 20px;
    overflow: hidden;
}

h1 {
    text-align: center;
}

.nextButton {
position: center;
margin: auto;
border: 29px;
border-radius: 20%;
width: 100px;
height: 50px;
}
p {
    font: yellow;
}