title {
	text-align: center;
}

.activityTitle {
text-align: center;
}
#cardArea {
	width: 300px;
	height: 200px;
	position: absolute;
	text-align: center;
	line-height: 200px;
	font-size: 45px;
	color: #efefef;
	font-family:  Arial;
	cursor: pointer;
}
h1 {
	text-align: center;
}
