h2 {
	text-align: center;
}
body {
	background-color: blueviolet;
}
img {
}
div {
	text-align: center;
}
.cardArea {
	width: 500px;
	height: 200px;
	position: auto;
	text-align: center;
	line-height: 20px;
	font-size: 20px;
	background: yellow;
	font-family: Joe Prince;
	margin: auto;
	margin-top: 80px;
	border: 3px solid black;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}
h1 {
	text-align: center;
}
